body {
    background-color: #a5a08f;
    font-family: Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.upper-site {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-elements {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.navigation-element {
    list-style-type: none;
    margin-left: 15px;
    margin-right: 15px;
}

.navigation-element a {
    color: #fbfaeb;
    text-decoration: none;
    padding-right: 5px;
}

.navigation-element a:hover {
    cursor: pointer;
}

#mainPageLogo {
    max-height: 80px;
    transition: max-height 0.3s;
}

#mainPageLogo:hover {
    max-height: 120px;
}

.contact-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #51a164;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #012b10;
}

#formMessage {
    margin-top: 15px;
    color: #d9534f;
    font-size: 14px;
    text-align: center;
}

#strich{
    width: 100%;
    height: 2px;
    background-color: #fbfaeb;
}